@model dynamic

<div id="box">
    <div id="maze">
        <div class="mrow">
            <div class="cell left notop noright nobottom"></div>
            <div class="cell top right nobottom"></div><div class="cell top noright nobottom"></div><div class="cell top right bottom"></div><div class="cell top right nobottom"></div><div class="cell top noright nobottom"></div><div class="cell top noright bottom"></div><div class="cell top right nobottom"></div>
        </div><div class="mrow"><div class="cell left right nobottom"></div><div class="cell noright bottom"></div><div class="cell right bottom"></div><div class="cell noright nobottom"></div><div class="cell right bottom"></div><div class="cell right nobottom"></div><div class="cell noright nobottom"></div><div class="cell right bottom"></div></div><div class="mrow"><div class="cell left right nobottom"></div><div class="cell noright nobottom"></div><div class="cell noright bottom"></div><div class="cell right bottom"></div><div class="cell noright nobottom"></div><div class="cell right bottom"></div><div class="cell noright bottom"></div><div class="cell right nobottom"></div></div><div class="mrow"><div class="cell left noright nobottom"></div><div class="cell right bottom"></div><div class="cell noright nobottom"></div><div class="cell noright bottom"></div><div class="cell right bottom"></div><div class="cell noright nobottom"></div><div class="cell right bottom"></div><div class="cell right nobottom"></div></div><div class="mrow"><div class="cell left noright bottom"></div><div class="cell noright bottom"></div><div class="cell right bottom"></div><div class="cell noright bottom"></div><div class="cell noright bottom"></div><div class="cell noright bottom"></div><div class="cell noright bottom"></div><div class="cell right"></div></div>
    </div>
</div>
